.events-control {
    text-align: center;
    border: 1px solid #2ABFCB;
    padding: 3rem;
    margin: 2rem auto;
    max-width: 40%;
}

@media (max-width: 768px) {
    .events-control {
        max-width: 50%;
    }
}


.events__list {
    width: 40rem;
    max-width: 90%;
    margin: 2rem auto;
    padding: 0;
}

.events__list--item{
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #2ABFCB;
}